//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-violet: #3734A9;
$basic-yellow: #FDBC64;
$basic-green: #009F9D;
$basic-orange: #FF7F5C;

$basic-bg-color: #ffffff;
$basic-text-color: #64607D;

$basic-link-green: #01966B;
$basic-link-red: #FF6160;





$input-bg-violet: #F2F3F4;
$input-bg-grey: #DFE4F1;
$btn-bg-color: #4F46BA;

//fonts
$basic-font: 'Manrope', sans-serif;

//images
// $svg-sprite: '../img/svg-sprite/sprite.view.svg';


//screen sizes
$screen-sm-min: 376px;
$screen-md-min: 768px;
$screen-lg-min: 1000px;
$screen-xlg-min: 1200px;

$screen-h-sm-min: 600px;
$screen-h-md-min: 800px;

