.contacts {
  background: #3734A9;
  padding: 75px 15px;
  margin-bottom: 123px;
  @media screen and (max-width: 1111px) {
    margin-bottom: 65px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__left {
    width: 50%;
    @media screen and (max-width: 900px) {
      width: 100%;
      text-align: center;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 900px) {
      width: 100%;
      margin: 30px auto 0 auto;
    }

  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $basic-white;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__header {
    font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      color: $basic-white;
      margin: 0 0 30px 0;
      @media screen and (max-width: 1100px) {
        font-size: 35px;
        line-height: 40px;
        margin: 0 0 20px 0;
      }
  }

  &__description {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
    color: $basic-white;
    @media screen and (max-width: 1100px) {
      font-size: 18px;
    }
  }

  
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media screen and (max-width: 900px) {
      margin: 0 auto;
    }
  }

  &__input {
    height: 26px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 16px 21px;
    margin-bottom: 24px;
    color: #ffffff;
    background-color: #5C5BB8;
  }

  &__input::placeholder {
    color: #827FC8;
  }

  &__btn {
    text-align: center;
  }
}