.contacts {
  background: #3734A9;
  padding: 75px 0;
  margin-bottom: 123px;

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }

  &__left {
    width: 50%;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $basic-white;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  &__header {
    font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      color: $basic-white;
      margin: 0 0 30px 0;
  }

  &__description {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: $basic-white;
  }

  &__input {
    width: 312px;
    height: 26px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 16px 21px;
    margin-bottom: 24px;
    color: #827FC8;
    background-color: #5C5BB8;
  }

  &__input::placeholder {
    color: #827FC8;
  }
}