.greeting {
  color: $basic-black;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1010px) {
    flex-direction: column;
  }

  &__left {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 1157px) {
      text-align: center;
    }
  }

  &__header {
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 74px;
    margin-bottom: 19px;
    @media screen and (max-width: 1157px) {
      font-size: 30px;
      line-height: 40px;
    }
  }

  &__description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5em;
    color: $basic-text-color;
    @media screen and (max-width: 1157px) {
      font-size: 18px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 47px;
    @media screen and (max-width: 1157px) {
      margin: 30px auto 24px auto;
      flex-direction: column;
    }
  }

  &__button {
    padding: 15px 36px;
    border-radius: 47px;
    margin-right: 50px;
    @media screen and (max-width: 1157px) {
      margin-right: 0;
      margin-bottom: 15px;
    }

  }

  &__play-video {
    display: flex;
    line-height: 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    color: $basic-violet;
  }

  &__play-svg {
    margin-right: 17px;
    height: 100%;
    cursor: pointer;
  }

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 20px 0;
    color: $basic-violet;
    @media screen and (max-width: 1157px) {
      text-align: center;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: 312px;
    height: 26px;
    border-radius: 5px;
    border: 1px solid #DFE4F1;
    padding: 16px 21px;
    outline: none;
    margin-bottom: 24px;

    @media screen and (max-width: 1157px) {
      margin: 0 auto 24px auto;
      width: 77%;
    }
  }

  &__get-started {
    @media screen and (max-width: 1010px) {
      width: 105px;
      margin: 0 auto;
    }
  }

}