.product {

  &__container {
    text-align: center;
  }

  &__header {
    font-style: normal;
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    color: $basic-black;
  }

  &__description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: $basic-text-color;
    margin-bottom: 59px;
  }

  &__blocks {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column: 15px;
    column-gap: 30px;
    margin-bottom: 42px;
    @media screen and (max-width: 1000px) {
      grid-template-columns: auto;
      row-gap: 30px;
    }
  }

  &__block {
    text-align: left;
    padding: 60px 33px 39px 33px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 22px;
    transition: all .2s ease-in-out;
  }

  &__block:hover {
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
  }

  &__title {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: $basic-black;
  }

  &__text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
  
  }

  &__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: $basic-green;
  }

  &__arrow {
    padding-left: 11px;
  }

  &__btn {
    display: flex;
    width: 175px;
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 1000px) {
      margin-top: 57px;
      justify-content: center;
    }
  }
}