.reviews {
    margin-bottom: 96px;
    @media screen and (max-width: 600px) {
      margin-bottom: 50px;
    }
  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $basic-violet;
  }

  &__header {
    margin: 15px 0 40px 0;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: $basic-black;
  }

  &__woman {
    display: flex;
    overflow: hidden;
    padding: 0;
  }

  &__container {
    display: flex;
  }

  &__block {
    display: flex;
    @media screen and (max-width: 1157px) {
      text-align: center;
      margin: 0 auto;
      padding: 15px;
      border-radius: 10px;
      border: 1px solid #eaeaea;
    }
  }

  &__image {
    margin-right: 50px;
    width: 50%;
    height: 100%;
    @media screen and (max-width: 1157px) {
      display: none;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 30px;
      color: $basic-black;
      margin: 0 0 0 0;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }

  &__name {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    color: $basic-black;
    margin: 0;
    @media screen and (max-width: 1157px) {
      line-height: 17px;
    }
  }

  &__position {
    font-size: 14px;
    line-height: 24px;
  }

  &__stars {
    margin: 14px 0 6px 0;
    @media screen and (max-width: 1157px) {
      margin: 14px 0 -1px 0;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 35px;


    .swiper-btn-prev {
      margin-right: 10px;
    }
  }
}

.swiper-button-disabled circle{
  fill: $basic-bg-button-disabled;
}

